* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #d4418e, #0652dd);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

.progressbar {
  display: flex;
  justify-content: space-between;
  margin:  0;
}

.step {
  width: 25px;
  height: 25px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #000;
  font-weight: bold;
}

.step.active {
  background-color: #d4418e;
  color: white;
}

.form-step {
  display: none;
  flex-direction: column;
}

.form-step.active {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #d4418e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #a6336e;
}
.space{
  height: 2px;
  width:50px;
  background-color: black;
  margin-top: 70px;
  display: flex;
}
.d1{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
#Gender{
  padding: 10px;
  border-radius: 5px;
  border: gray 1px solid;
}
#i1{
  color: white;
  display: none;
}